:root{
  --thisoe:#178577;
}

@media (prefers-color-scheme: dark) {
  :root{
    /* --thisoe:#077567; */
  }
}

body{
  margin:0;
  background-color:#ccc;
}


/*******/
nav{
  display:flex; flex-direction:row;
  justify-content:center;
  margin:0 7pt 18px;
  gap:7pt;
  flex-wrap:wrap;
}